version: "3.9"

services:
  db:
    image: postgres:16
    restart: unless-stopped
    ports:
      - "5433:5432"
    environment:
      POSTGRES_USER: ctm_user
      POSTGRES_PASSWORD: ctm_pass
      POSTGRES_DB: ctm_db
    volumes:
      - db_data:/var/lib/postgresql/data

volumes:
  db_data:

